{
  "source": {
    "directories": [
      "src"
    ]
  },
  "logs": {
    "text": "reports/infection.log",
    "summary": "reports/infecrtion-summary.log",
    "debug": "reports/infection-debug.log",
    "badge": {
      "branch": "master"
    }
  },
  "timeout": 2
}